* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-img {
    width: 60px;
}

.top-text {
    width: 120px;
    position: absolute;
    top: 6px;
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.dhtmlxMenu_TopLevel_Text_left {
    top: 0 !important;
}

.dhtmlx-myCss {
    font-weight: bold !important;
    color: black !important;
    background-color: yellow !important;
}

.dhtmlx-myCssNK div {
    font-weight: bold !important;
    color: white !important;
    background-color: green !important;
}